.pageWrapper {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.layoutWrapper {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  position: relative;
  flex-grow: 1;
}
.layoutWrapper > div {
  width: 100%;
}
.contentWrapper {
  padding: 15px 0;
  position: relative;
  flex-grow: 1;
}
.notLoggedIn {
  background-color: #f6f7fa !important;
  -webkit-box-shadow: inset 0px -6px 5px -7px rgba(var(--txt-color), 0.5);
  -moz-box-shadow: inset 0px -6px 5px -7px rgba(var(--txt-color), 0.5);
  box-shadow: inset 0px -6px 5px -7px rgba(var(--txt-color), 0.5);
}
