.modal {
  background-color: rgb(var(--bg-color));
  border: 1px solid rbga(var(--txt-color), 0.15);
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  -o-transition: opacity 200ms ease-in;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}
.modalHeader {
  background-color: rgba(var(--txt-color),0.04);
  border-bottom: 1px solid rgba(var(--txt-color), 0.15);
  color: rgb(var(--txt-color));
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 500;
  padding: 0 15px;
}
.closeIcon {
  position: absolute;
  top: 10px;
  right: 10px;
}
.modalContent {
  border-bottom: 1px solid rgba(var(--txt-color), 0.15);
  flex-grow: 1;
  max-height: calc(100vh - 140px);
  overflow-y: auto;
}
.modalFooter {
  padding: 26px 23px;
  display: flex;
  justify-content: flex-end;
}
.modalFooter > * {
  margin-left: 10px;
}
.modalBackdrop {
  position: fixed;
  z-index: 100;
  background-color: #000000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: opacity 200ms ease-in;
  -moz-transition: opacity 200ms ease-in;
  -o-transition: opacity 200ms ease-in;
  opacity: 0.5;
}
.modalBackdrop.modal.hide {
  opacity: 0;
}
.modal.hide,
.modalBackdrop.hide{
  display: none;
  opacity: 0;
}
.modal.small{
  width: 410px;
  min-height: 260px;
}
.modal.medium{
  width: 788px;
  min-height: 360px;
}
.modal.large{
  width: 888px;
  min-height: 360px;
}
