.resultsToolbarContainer{
  height: 36px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 18px;
}
.perPageContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;  
}
.perPageLabel{
  margin-right: 8px;
}
.perPageSelect{
  min-width: 80px;
}
.buttons > * {
  margin-left: 8px;
}
.select-medium{
  
}