.container {
  padding: 30px 10px;
}
.container > h2 {
  font-weight: 300;
  margin: 0;
  padding-left: 10px;
}
.split {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.split > div {
  width: 50%;
  padding: 10px;
  background-color: #fcfcfc;
}
.split > div > h3 {
  text-decoration: underline;
}
.card {
  padding: 0 10px;
  margin-bottom: 10px;
}
.card > h4 {
  text-transform: uppercase;
  color: #3d3d3d;
  margin: 20px 0 20px;
}
.card > div {
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid rgba(var(--txt-color), 0.15);
}
.card > div:last-child {
  border-bottom: none;
}
